<!DOCTYPE html>
<html>
<head>
    <title>jsh</title>
    <link href="public/css/inspector.css" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <script src="public/js/common/utilities.js"></script>
    <script src="public/js/common/modules.js"></script>
    <script src="public/js/common/WebInspector.js"></script>
    <script src="public/js/common/Object.js"></script>
    <script src="public/js/common/ModuleManager.js"></script>
    <script src="public/js/common/UIString.js"></script>
    <script src="public/js/common/Console.js"></script>
    <script src="public/js/common/ParsedURL.js"></script>
    <script src="public/js/common/Throttler.js"></script>
    <script src="public/js/common/TextRange.js"></script>
    <script src="public/js/common/Geometry.js"></script>
    <script src="public/js/common/Settings.js"></script>
    <script src="public/js/ui/DOMExtension.js"></script>
    <script src="public/js/ui/treeoutline.js"></script>
    <script src="public/js/main/Main.js"></script>
    <script src="public/js/sdk/InspectorBackend.js"></script>
    <script src="public/js/host/InspectorFrontendHost.js"></script>
    <script src="public/js/host/Platform.js"></script>
    <script src="public/js/sdk/Target.js"></script>
    <script src="public/js/ui/Context.js"></script>
    <script src="public/js/components/ExecutionContextSelector.js"></script>
    <script src="public/js/ui/View.js"></script>
    <script src="public/js/ui/UIUtils.js"></script>
    <script src="public/js/ui/KeyboardShortcut.js"></script>
    <script src="public/js/ui/SuggestBox.js"></script>
    <script src="public/js/ui/TextPrompt.js"></script>
    <script src="public/js/ui/TabbedPane.js"></script>
    <script src="public/js/ui/ViewportControl.js"></script>
    <script src="public/js/sdk/ConsoleModel.js"></script>
    <script src="public/js/components/Panel.js"></script>
    <script src="public/js/components/InspectorView.js"></script>
    <script src="public/js/sdk/ResourceUtils.js"></script>
    <script src="public/js/ui/DataGrid.js"></script>
    <script src="public/js/components/Section.js"></script>
    <script src="public/js/components/PropertiesSection.js"></script>
    <script src="public/js/sdk/RemoteObject.js"></script>
    <script src="public/js/components/ObjectPropertiesSection.js"></script>
    <script src="public/js/ui/StatusBarButton.js"></script>
    <script src="public/js/ui/DropDownMenu.js"></script>
    <script src="public/js/ui/SplitView.js"></script>
    <script src="public/js/sdk/Linkifier.js"></script>
    <script src="public/js/ui/Dialog.js"></script>
    <script src="public/js/components/SearchableView.js"></script>
    <script src="public/js/sdk/RuntimeModel.js"></script>
    <script src="public/js/components/DockController.js"></script>
    <script src="public/js/main/App.js"></script>
    <script src="public/js/main/SimpleApp.js"></script>
    <script src="public/js/ui/ZoomManager.js"></script>
    <script src="public/js/ui/ResizerWidget.js"></script>

    <script src="public/js/console/ConsoleViewMessage.js"></script>
    <script src="public/js/console/ConsoleView.js"></script>
    <script src="public/js/console/ConsolePanel.js"></script>
</head>
<body class="undocked" id="-blink-dev-tools">
	<script src="public/js/jsh.js"></script>
    <code id="jsh-commands" style="display:none">{{ commands }}</code>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55689913-2', 'auto');
    ga('send', 'pageview');
   </script>
</body>
</html>
