<!DOCTYPE html>
<html>
<head>
    <title>jsh</title>
    <link href="css/inspector.css" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <script src="js/common/utilities.js"></script>
    <script src="js/common/modules.js"></script>
    <script src="js/common/WebInspector.js"></script>
    <script src="js/common/Object.js"></script>
    <script src="js/common/ModuleManager.js"></script>
    <script src="js/common/UIString.js"></script>
    <script src="js/common/Console.js"></script>
    <script src="js/common/ParsedURL.js"></script>
    <script src="js/common/Throttler.js"></script>
    <script src="js/common/Geometry.js"></script>
    <script src="js/common/Settings.js"></script>
    <script src="js/ui/DOMExtension.js"></script>
    <script src="js/ui/treeoutline.js"></script>
    <script src="js/main/Main.js"></script>
    <script src="js/sdk/InspectorBackend.js"></script>
    <script src="js/host/InspectorFrontendHost.js"></script>
    <script src="js/host/Platform.js"></script>
    <script src="js/sdk/Target.js"></script>
    <script src="js/ui/Context.js"></script>
    <script src="js/components/ExecutionContextSelector.js"></script>
    <script src="js/ui/View.js"></script>
    <script src="js/ui/UIUtils.js"></script>
    <script src="js/ui/KeyboardShortcut.js"></script>
    <script src="js/ui/SuggestBox.js"></script>
    <script src="js/ui/TextPrompt.js"></script>
    <script src="js/ui/TabbedPane.js"></script>
    <script src="js/ui/ViewportControl.js"></script>
    <script src="js/sdk/ConsoleModel.js"></script>
    <script src="js/components/Panel.js"></script>
    <script src="js/components/InspectorView.js"></script>
    <script src="js/sdk/ResourceUtils.js"></script>
    <script src="js/components/Section.js"></script>
    <script src="js/components/PropertiesSection.js"></script>
    <script src="js/sdk/RemoteObject.js"></script>
    <script src="js/components/ObjectPropertiesSection.js"></script>
    <script src="js/ui/StatusBarButton.js"></script>
    <script src="js/ui/DropDownMenu.js"></script>
    <script src="js/ui/SplitView.js"></script>
    <script src="js/sdk/Linkifier.js"></script>
    <script src="js/ui/Dialog.js"></script>
    <script src="js/components/SearchableView.js"></script>
    <script src="js/sdk/RuntimeModel.js"></script>
    <script src="js/components/DockController.js"></script>
    <script src="js/main/App.js"></script>
    <script src="js/main/SimpleApp.js"></script>
    <script src="js/ui/ZoomManager.js"></script>
    <script src="js/ui/ResizerWidget.js"></script>

    <script src="js/console/ConsoleViewMessage.js"></script>
    <script src="js/console/ConsoleView.js"></script>
    <script src="js/console/ConsolePanel.js"></script>

    <script src="js/InjectedScript.js"></script>
    <script src="js/jsh.js"></script>
    <script src="js/jsh-console.js"></script>
</head>
<body class="undocked" id="-blink-dev-tools">
    <code id="jsh-commands" style="display:none">{{ commands }}</code>
</body>
</html>
