<!DOCTYPE html>
<html>
<head>
    <title>jsh</title>
    <link href="public/css/inspector.css" rel="stylesheet" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body class="undocked" id="-blink-dev-tools"><code id="jsh-commands" style="display:none">{{ commands }}</code>
    <script src="public/js/everything.min.js"></script>
</body>
</html>
